.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('/assets/img/board.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-stack {
        position: relative;
        img {
            position: absolute;
            width: 200px;
        }
        .top-card {
            cursor: pointer;
            transition: transform 0.125s ease-in-out;

            &:hover {
                transform: scale(1.05) translateY(-10px);
            }
        }
    }
}

.pick-card {
    transition: all 0.125s ease-in-out;
    transform: scale(1.5) !important;
}